.home .hero img {
  border-radius: 20em;
}
iframe.contact-form {
  height: 50em;
}
iframe.newsletter-embed {
  width: 100%;
  height: 17.5em;
}

.theme-container.has-toc .page {
    padding-right: 0;
}

article {
    margin-bottom: 5em;
}
.image-cropped-wrapper {
  overflow: hidden;
}
.image-cropped-wrapper img,
.theme-hope-content img {
  width: 100%;
}